In [1]:
from fetcher import get_player_info
from player_performance import get_player_points_per_gameweek, create_points_dataframe_with_gameweeks
import pandas as pd

In [2]:
x_gameweeks = 5  # Number of recent gameweeks to consider
current_gameweek = 7  # Replace with the current gameweek number

# Define the range of gameweeks
gameweeks = list(range(current_gameweek - x_gameweeks + 1, current_gameweek + 1))

# Get player information
players = get_player_info()

# Get player points for each gameweek
player_points_per_gw = {}
for gw in gameweeks:
    player_points_per_gw[gw] = get_player_points_per_gameweek(gw)

# Create and sort the DataFrame by total points across the gameweeks
sorted_points_df = create_points_dataframe_with_gameweeks(player_points_per_gw, players, gameweeks, min_to_return=5)

# Display the sorted DataFrame
sorted_points_df

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW3 Points,GW4 Points,GW5 Points,GW6 Points,GW7 Points,Total Points,Number Returns
206,182,Palmer,6,Chelsea,3,9.6,10.5,49.1,108.0,6,3,8,25,6,48,4
415,351,Haaland,13,Man City,4,9.6,6.5,73.3,154.0,17,13,9,2,2,43,3
113,99,Mbeumo,4,Brentford,3,7.3,6.8,26.2,74.0,14,2,8,9,8,41,4
391,328,M.Salah,12,Liverpool,3,8.9,5.2,39.8,127.0,17,2,6,10,3,38,3
390,327,Luis Díaz,12,Liverpool,3,7.7,5.5,35.1,81.0,15,3,16,2,1,37,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,250,Mbabu,9,Fulham,2,0.0,0.0,0.2,40.0,0,0,0,0,0,0,0
289,246,Harris,9,Fulham,3,0.0,0.0,0.0,45.0,0,0,0,0,0,0,0
285,242,Benda,9,Fulham,1,0.0,0.0,0.5,40.0,0,0,0,0,0,0,0
665,664,Pond,20,Wolves,2,0.0,0.0,0.1,40.0,0,0,0,0,0,0,0
553,472,Stephens,17,Southampton,2,0.5,-0.5,0.7,40.0,1,-2,0,0,0,-1,0

In [3]:
# Batch Player from Price and Position
# Goalkeeper

gk_df = sorted_points_df[sorted_points_df['Position'] == 1]

price_brackets = [0, 45, 50, 60]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3']

gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
gk_df = gk_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/x6/f_47vpzn7b951ll4rsz590pr0000gn/T/ipykernel_2023/256794205.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW3 Points,GW4 Points,GW5 Points,GW6 Points,GW7 Points,Total Points,Number Returns,price_bracket
334,568,Muric,10,Ipswich,1,3.2,4.0,1.1,44.0,3,11,2,1,2,19,1,Bracket 1
227,201,Henderson,7,Crystal Palace,1,3.0,3.5,10.9,45.0,4,1,9,1,3,18,1,Bracket 1
516,443,Sels,16,Nott'm Forest,1,3.7,3.8,3.1,45.0,2,9,1,2,3,17,1,Bracket 1
450,383,Onana,14,Man Utd,1,5.6,7.8,6.0,50.0,1,13,9,3,6,32,3,Bracket 2
209,185,Sánchez,6,Chelsea,1,5.1,7.8,12.1,47.0,2,15,10,2,4,33,2,Bracket 2
268,235,Pickford,8,Everton,1,3.6,5.2,8.1,48.0,2,2,2,2,15,23,1,Bracket 2
374,310,A.Becker,12,Liverpool,1,5.8,3.5,9.0,55.0,8,2,0,2,10,22,2,Bracket 3
11,15,Raya,1,Arsenal,1,5.1,4.0,32.0,56.0,2,9,4,1,2,18,1,Bracket 3
411,347,Ederson M.,13,Man City,1,3.0,2.2,8.4,55.0,2,7,0,2,0,11,1,Bracket 3

In [4]:
# Defender

def_df = sorted_points_df[sorted_points_df['Position'] == 2]

price_brackets = [0, 42, 47, 52, 75]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4']

def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
def_df = def_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = def_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/x6/f_47vpzn7b951ll4rsz590pr0000gn/T/ipykernel_2023/1107414829.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW3 Points,GW4 Points,GW5 Points,GW6 Points,GW7 Points,Total Points,Number Returns,price_bracket
262,228,Keane,8,Everton,2,2.5,2.0,6.3,40.0,6,1,1,0,6,14,2,Bracket 1
360,301,Okoli,11,Leicester,2,2.2,2.8,0.4,40.0,0,1,2,1,7,11,1,Bracket 1
542,461,Harwood-Bellis,17,Southampton,2,2.0,2.8,10.2,40.0,0,1,2,7,1,11,1,Bracket 1
271,238,Young,8,Everton,2,3.0,4.2,0.2,45.0,0,0,6,5,6,17,3,Bracket 2
354,295,Justin,11,Leicester,2,4.1,6.2,1.9,45.0,1,1,2,12,10,26,2,Bracket 2
226,200,Guéhi,7,Crystal Palace,2,3.0,4.5,6.2,44.0,2,1,6,9,2,20,2,Bracket 2
389,326,Konaté,12,Liverpool,2,5.3,5.8,11.3,52.0,6,2,8,7,6,29,4,Bracket 3
436,369,Dalot,14,Man Utd,2,5.0,6.5,9.4,51.0,1,11,9,0,6,27,3,Bracket 3
456,593,De Ligt,14,Man Utd,2,3.6,5.8,4.8,50.0,0,15,6,1,1,23,2,Bracket 3
375,311,Alexander-Arnold,12,Liverpool,2,5.9,5.2,31.1,71.0,6,1,11,1,8,27,3,Bracket 4
401,339,Virgil,12,Liverpool,2,5.1,4.5,14.7,60.0,5,2,6,2,8,23,3,Bracket 4
2,3,Gabriel,1,Arsenal,2,5.6,6.2,26.9,62.0,2,15,7,1,2,27,2,Bracket 4

In [5]:
# Midfielder

mid_df = sorted_points_df[sorted_points_df['Position'] == 3]

price_brackets = [0, 47, 57, 67, 77, 97, 130]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5', 'Bracket 6']

mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
mid_df = mid_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/x6/f_47vpzn7b951ll4rsz590pr0000gn/T/ipykernel_2023/1630460180.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW3 Points,GW4 Points,GW5 Points,GW6 Points,GW7 Points,Total Points,Number Returns,price_bracket
562,608,Dibling,17,Southampton,3,2.6,3.8,3.1,46.0,1,2,11,1,1,16,1,Bracket 1
368,309,Winks,11,Leicester,3,1.8,1.5,13.7,45.0,1,2,2,2,0,7,0,Bracket 1
125,111,Yarmoliuk,4,Brentford,3,1.0,1.0,2.6,44.0,0,1,2,0,1,4,0,Bracket 1
264,230,McNeil,8,Everton,3,5.9,7.8,8.1,56.0,6,12,2,15,2,37,3,Bracket 2
418,354,Kovačić,13,Man City,3,5.1,5.5,2.2,55.0,2,0,6,1,15,24,2,Bracket 2
173,618,Georginio,5,Brighton,3,4.2,5.8,0.1,55.0,1,3,2,7,11,24,2,Bracket 2
463,392,Barnes,15,Newcastle,3,5.4,5.8,4.3,65.0,9,8,10,2,3,32,3,Bracket 3
578,491,Johnson,18,Spurs,3,5.1,6.8,4.4,65.0,4,2,7,11,7,31,3,Bracket 3
201,177,Madueke,6,Chelsea,3,7.2,5.2,9.1,65.0,2,3,3,5,10,23,2,Bracket 3
113,99,Mbeumo,4,Brentford,3,7.3,6.8,26.2,74.0,14,2,8,9,8,41,4,Bracket 4
8,9,Martinelli,1,Arsenal,3,4.9,6.8,4.5,70.0,1,3,5,13,6,28,3,Bracket 4
604,514,Bowen,19,West Ham,3,5.1,5.2,5.5,74.0,5,5,2,2,12,26,3,Bracket 4
390,327,Luis Díaz,12,Liverpool,3,7.7,5.5,35.1,81.0,15,3,16,2,1,37,2,Bracket 5
433,366,B.Fernandes,14,Man Utd,3,2.3,2.2,6.8,82.0,2,5,3,-2,3,11,1,Bracket 5
412,348,Foden,13,Man City,3,1.2,1.0,5.5,92.0,0,0,1,1,2,4,0,Bracket 5
206,182,Palmer,6,Chelsea,3,9.6,10.5,49.1,108.0,6,3,8,25,6,48,4,Bracket 6
391,328,M.Salah,12,Liverpool,3,8.9,5.2,39.8,127.0,17,2,6,10,3,38,3,Bracket 6
13,17,Saka,1,Arsenal,3,7.7,7.5,34.3,101.0,6,7,4,3,16,36,3,Bracket 6

In [6]:
# Forward

fwd_df = sorted_points_df[sorted_points_df['Position'] == 4]

price_brackets = [0, 47, 57, 67, 77, 160]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5']

fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
fwd_df = fwd_df.sort_values(['price_bracket', 'Number Returns'], ascending=[False, False])
df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/x6/f_47vpzn7b951ll4rsz590pr0000gn/T/ipykernel_2023/3479961003.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW3 Points,GW4 Points,GW5 Points,GW6 Points,GW7 Points,Total Points,Number Returns,price_bracket
63,58,Watkins,2,Aston Villa,4,5.9,8.0,28.9,91.0,5,13,6,11,2,37,4,Bracket 5
415,351,Haaland,13,Man City,4,9.6,6.5,73.3,154.0,17,13,9,2,2,43,3,Bracket 5
204,180,N.Jackson,6,Chelsea,4,6.0,6.0,18.4,79.0,6,1,16,5,2,30,3,Bracket 5
564,82,Solanke,18,Spurs,4,4.2,4.8,11.4,76.0,0,2,6,6,5,19,3,Bracket 4
232,207,Mateta,7,Crystal Palace,4,3.1,4.2,3.6,74.0,2,13,1,2,1,19,1,Bracket 4
379,316,Darwin,12,Liverpool,4,2.2,1.8,2.2,72.0,1,1,6,0,0,8,1,Bracket 4
519,447,Wood,16,Nott'm Forest,4,5.6,5.0,11.0,62.0,9,2,8,2,8,29,3,Bracket 3
43,38,Duran,2,Aston Villa,4,3.9,3.2,6.6,62.0,7,6,5,1,1,20,3,Bracket 3
254,220,Calvert-Lewin,8,Everton,4,3.9,2.8,6.1,60.0,12,6,2,1,2,23,2,Bracket 3
295,252,Raúl,9,Fulham,4,4.6,7.2,5.3,56.0,1,9,6,9,5,30,4,Bracket 2
316,268,Delap,10,Ipswich,4,4.4,5.0,4.4,56.0,7,1,1,12,6,27,3,Bracket 2
602,512,Antonio,19,West Ham,4,4.3,6.0,1.9,54.0,2,1,0,5,18,26,2,Bracket 2
554,473,Stewart,17,Southampton,4,0.8,0.8,3.9,46.0,0,1,0,1,1,3,0,Bracket 1
587,500,Scarlett,18,Spurs,4,0.0,0.0,0.1,45.0,0,0,0,0,0,0,0,Bracket 1
597,609,Lankshear,18,Spurs,4,0.0,0.0,1.7,45.0,0,0,0,0,0,0,0,Bracket 1