In [1]:
from fetcher import get_player_info
from player_performance import get_player_points_per_gameweek, create_points_dataframe_with_gameweeks
import pandas as pd

In [2]:
x_gameweeks = 4  # Number of recent gameweeks to consider
current_gameweek = 4  # Replace with the current gameweek number

# Define the range of gameweeks
gameweeks = list(range(current_gameweek - x_gameweeks + 1, current_gameweek + 1))

# Get player information
players = get_player_info()

# Get player points for each gameweek
player_points_per_gw = {}
for gw in gameweeks:
    player_points_per_gw[gw] = get_player_points_per_gameweek(gw)

# Create and sort the DataFrame by total points across the gameweeks
sorted_points_df = create_points_dataframe_with_gameweeks(player_points_per_gw, players, gameweeks, min_to_return=4)

# Display the sorted DataFrame
sorted_points_df

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,Total Points,Number Returns
409,351,Haaland,13,Man City,4,13.5,11.8,70.5,153.0,7,17,17,13,54,4
386,328,M.Salah,12,Liverpool,3,9.8,8.8,47.5,127.0,14,10,17,2,43,3
385,327,Luis Díaz,12,Liverpool,3,9.6,11.2,24.8,78.0,3,14,15,3,35,2
13,17,Saka,1,Arsenal,3,7.8,4.8,28.8,100.0,12,6,6,7,31,4
11,15,Raya,1,Arsenal,1,7.2,5.2,29.0,55.0,8,10,2,9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,159,Chalobah,7,Crystal Palace,2,0.0,0.0,0.2,44.0,0,0,0,0,0,0
483,419,White,15,Newcastle,3,0.0,0.0,0.3,45.0,0,0,0,0,0,0
211,581,Jørgensen,6,Chelsea,1,0.0,0.0,0.2,44.0,0,0,0,0,0,0
0,1,Fábio Vieira,1,Arsenal,3,0.0,0.0,0.0,54.0,0,0,0,0,0,0
266,238,Young,8,Everton,2,1.0,1.2,0.2,45.0,-2,0,0,0,-2,0

In [12]:
# Batch Player from Price and Position
# Goalkeeper

gk_df = sorted_points_df[sorted_points_df['Position'] == 1]

price_brackets = [0, 45, 50, 60]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3']

gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
gk_df = gk_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/256794205.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/256794205.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,Total Points,Number Returns,price_bracket
510,443,Sels,16,Nott'm Forest,1,5.0,4.2,2.4,45.0,3,6,2,9,20,2,Bracket 1
162,146,Verbruggen,5,Brighton,1,4.5,2.2,2.2,45.0,0,0,4,5,9,2,Bracket 1
329,568,Muric,10,Ipswich,1,4.0,4.0,0.7,44.0,0,0,3,11,14,1,Bracket 1
444,383,Onana,14,Man Utd,1,5.2,3.8,5.5,50.0,6,1,1,13,21,2,Bracket 2
477,413,Pope,15,Newcastle,1,4.4,3.2,8.9,50.0,9,3,4,3,19,2,Bracket 2
205,185,Sánchez,6,Chelsea,1,5.6,6.5,6.8,46.0,2,1,2,15,20,1,Bracket 2
11,15,Raya,1,Arsenal,1,7.2,5.2,29.0,55.0,8,10,2,9,29,3,Bracket 3
369,310,A.Becker,12,Liverpool,1,5.8,4.0,12.2,55.0,7,6,8,2,23,3,Bracket 3
405,347,Ederson M.,13,Man City,1,4.8,2.8,8.1,55.0,8,2,2,7,19,2,Bracket 3

In [13]:
# Defender

def_df = sorted_points_df[sorted_points_df['Position'] == 2]

price_brackets = [0, 42, 47, 52, 75]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4']

def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
def_df = def_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = def_df.groupby('price_bracket').head(4)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/186755390.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/186755390.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = def_df.groupby('price_bracket').head(4)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,Total Points,Number Returns,price_bracket
345,291,Faes,11,Leicester,2,2.4,2.8,13.1,41.0,1,7,1,1,10,1,Bracket 1
325,282,Tuanzebe,10,Ipswich,2,2.2,2.5,2.5,40.0,1,0,2,6,9,1,Bracket 1
313,270,Greaves,10,Ipswich,2,2.2,2.5,2.5,40.0,1,0,2,6,9,1,Bracket 1
257,228,Keane,8,Everton,2,1.8,2.0,5.5,40.0,1,0,6,1,8,1,Bracket 1
451,594,Mazraoui,14,Man Utd,2,4.8,2.8,15.0,46.0,8,4,1,6,19,3,Bracket 2
489,422,Aina,16,Nott'm Forest,2,5.0,4.8,5.0,45.0,1,9,2,8,20,2,Bracket 2
161,145,Veltman,5,Brighton,2,4.8,2.8,3.7,45.0,8,2,2,7,19,2,Bracket 2
503,436,Murillo,16,Nott'm Forest,2,4.2,3.8,0.7,45.0,2,7,2,6,17,2,Bracket 2
430,369,Dalot,14,Man Utd,2,5.0,3.2,8.5,50.0,7,1,1,11,20,2,Bracket 3
384,326,Konaté,12,Liverpool,2,4.8,5.8,6.3,51.0,1,7,6,2,16,2,Bracket 3
579,498,Romero,18,Spurs,2,4.2,4.8,10.4,51.0,2,14,1,2,19,1,Bracket 3
450,593,De Ligt,14,Man Utd,2,4.2,4.0,4.3,50.0,1,1,0,15,17,1,Bracket 3
2,3,Gabriel,1,Arsenal,2,7.2,5.8,13.6,60.0,6,6,2,15,29,3,Bracket 4
370,311,Alexander-Arnold,12,Liverpool,2,6.0,5.5,31.8,71.0,8,6,6,1,21,3,Bracket 4
19,24,White,1,Arsenal,2,5.0,3.5,8.1,65.0,6,6,2,6,20,3,Bracket 4
396,339,Virgil,12,Liverpool,2,5.2,5.0,15.0,60.0,6,7,5,2,20,3,Bracket 4

In [14]:
# Midfielder

mid_df = sorted_points_df[sorted_points_df['Position'] == 3]

price_brackets = [0, 47, 57, 67, 77, 97, 130]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5', 'Bracket 6']

mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
mid_df = mid_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/1630460180.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/1630460180.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,Total Points,Number Returns,price_bracket
363,309,Winks,11,Leicester,3,1.8,1.8,15.2,45.0,2,2,1,2,7,0,Bracket 1
255,226,Iroegbunam,8,Everton,3,1.4,1.2,1.4,45.0,2,2,1,1,6,0,Bracket 1
556,608,Dibling,17,Southampton,3,2.6,3.0,0.5,45.0,1,1,1,2,5,0,Bracket 1
86,78,Semenyo,3,Bournemouth,3,4.4,3.5,6.2,56.0,8,5,6,1,20,3,Bracket 2
259,230,McNeil,8,Everton,3,4.8,5.5,2.5,54.0,2,2,6,12,22,2,Bracket 2
275,19,Smith Rowe,9,Fulham,3,5.8,6.5,27.6,57.0,3,10,2,7,22,2,Bracket 2
457,392,Barnes,15,Newcastle,3,6.0,7.2,2.2,64.0,1,5,9,8,23,3,Bracket 3
152,136,Mitoma,5,Brighton,3,4.8,2.8,10.4,67.0,8,6,2,3,19,2,Bracket 3
400,342,Bernardo,13,Man City,3,4.0,2.5,5.8,66.0,6,2,7,1,16,2,Bracket 3
598,514,Bowen,19,West Ham,3,4.4,5.0,6.3,75.0,2,8,5,5,20,3,Bracket 4
111,99,Mbeumo,4,Brentford,3,6.6,6.0,10.4,71.0,9,1,14,2,26,2,Bracket 4
375,317,Diogo J.,12,Liverpool,3,4.5,2.5,15.4,76.0,8,6,3,1,18,2,Bracket 4
385,327,Luis Díaz,12,Liverpool,3,9.6,11.2,24.8,78.0,3,14,15,3,35,2,Bracket 5
403,345,De Bruyne,13,Man City,3,4.5,3.8,8.9,96.0,3,12,1,2,18,1,Bracket 5
427,366,B.Fernandes,14,Man Utd,3,3.0,2.2,11.0,83.0,3,2,2,5,12,1,Bracket 5
13,17,Saka,1,Arsenal,3,7.8,4.8,28.8,100.0,12,6,6,7,31,4,Bracket 6
386,328,M.Salah,12,Liverpool,3,9.8,8.8,47.5,127.0,14,10,17,2,43,3,Bracket 6
202,182,Palmer,6,Chelsea,3,7.2,8.5,39.7,106.0,2,17,6,3,28,2,Bracket 6

In [15]:
# Forward

fwd_df = sorted_points_df[sorted_points_df['Position'] == 4]

price_brackets = [0, 47, 57, 67, 77, 160]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5']

fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
fwd_df = fwd_df.sort_values(['price_bracket', 'Number Returns'], ascending=[False, False])
df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/3479961003.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_27984/3479961003.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,Total Points,Number Returns,price_bracket
409,351,Haaland,13,Man City,4,13.5,11.8,70.5,153.0,7,17,17,13,54,4,Bracket 5
3,4,Havertz,1,Arsenal,4,6.0,3.0,17.0,81.0,12,2,8,2,24,2,Bracket 5
61,58,Watkins,2,Aston Villa,4,5.6,6.5,28.5,90.0,2,2,5,13,22,2,Bracket 5
200,180,N.Jackson,6,Chelsea,4,6.4,7.5,7.9,76.0,2,10,6,1,19,2,Bracket 4
228,207,Mateta,7,Crystal Palace,4,4.5,4.2,4.8,74.0,1,2,2,13,18,1,Bracket 4
448,389,Zirkzee,14,Man Utd,4,3.0,1.0,3.6,70.0,8,1,1,2,12,1,Bracket 4
122,110,Wissa,4,Brentford,4,7.0,4.2,4.6,61.0,11,2,8,7,28,3,Bracket 3
41,38,Duran,2,Aston Villa,4,5.0,4.8,4.1,61.0,6,1,7,6,20,3,Bracket 3
164,148,Welbeck,5,Brighton,4,6.2,3.2,19.2,58.0,12,9,2,2,25,2,Bracket 3
360,306,Vardy,11,Leicester,4,4.2,3.2,11.8,57.0,8,2,1,8,19,2,Bracket 2
145,129,João Pedro,5,Brighton,4,6.0,4.0,28.5,57.0,2,8,8,0,18,2,Bracket 2
654,566,Strand Larsen,20,Wolves,4,3.4,3.8,1.1,55.0,2,6,2,5,15,2,Bracket 2
78,69,Jebbison,3,Bournemouth,4,1.0,0.2,2.7,45.0,1,1,0,0,2,0,Bracket 1
548,473,Stewart,17,Southampton,4,0.5,0.2,2.1,45.0,0,0,0,1,1,0,Bracket 1
154,138,O’Mahony,5,Brighton,4,0.0,0.0,0.5,45.0,0,0,0,0,0,0,Bracket 1