In [1]:
from fetcher import get_player_info
from player_performance import get_player_points_per_gameweek, create_points_dataframe_with_gameweeks
import pandas as pd

In [2]:
x_gameweeks = 5  # Number of recent gameweeks to consider
current_gameweek = 6  # Replace with the current gameweek number

# Define the range of gameweeks
gameweeks = list(range(current_gameweek - x_gameweeks + 1, current_gameweek + 1))

# Get player information
players = get_player_info()

# Get player points for each gameweek
player_points_per_gw = {}
for gw in gameweeks:
    player_points_per_gw[gw] = get_player_points_per_gameweek(gw)

# Create and sort the DataFrame by total points across the gameweeks
sorted_points_df = create_points_dataframe_with_gameweeks(player_points_per_gw, players, gameweeks, min_to_return=5)

# Display the sorted DataFrame
sorted_points_df

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW2 Points,GW3 Points,GW4 Points,GW5 Points,GW6 Points,Total Points,Number Returns
205,182,Palmer,6,Chelsea,3,10.2,10.5,44.4,107.0,17,6,3,8,25,59,4
413,351,Haaland,13,Man City,4,10.8,8.0,73.1,153.0,17,17,13,9,2,58,4
388,327,Luis Díaz,12,Liverpool,3,8.8,9.0,36.6,80.0,14,15,3,16,2,50,3
389,328,M.Salah,12,Liverpool,3,9.8,8.8,42.0,128.0,10,17,2,6,10,45,4
203,180,N.Jackson,6,Chelsea,4,6.7,7.0,17.0,79.0,10,6,1,16,5,38,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,246,Harris,9,Fulham,3,0.0,0.0,0.0,45.0,0,0,0,0,0,0,0
285,244,Castagne,9,Fulham,2,0.0,0.0,1.1,43.0,0,0,0,0,0,0,0
283,242,Benda,9,Fulham,1,0.0,0.0,0.5,40.0,0,0,0,0,0,0,0
647,554,José Sá,20,Wolves,1,0.5,0.0,1.6,44.0,-1,0,0,0,0,-1,0
165,147,Webster,5,Brighton,2,0.0,-0.3,0.1,44.0,0,0,0,0,-1,-1,0

In [3]:
# Batch Player from Price and Position
# Goalkeeper

gk_df = sorted_points_df[sorted_points_df['Position'] == 1]

price_brackets = [0, 45, 50, 60]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3']

gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
gk_df = gk_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/256794205.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/256794205.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW2 Points,GW3 Points,GW4 Points,GW5 Points,GW6 Points,Total Points,Number Returns,price_bracket
514,443,Sels,16,Nott'm Forest,1,3.8,4.0,2.9,45.0,6,2,9,1,2,20,2,Bracket 1
332,568,Muric,10,Ipswich,1,3.4,4.7,1.0,44.0,0,3,11,2,1,17,1,Bracket 1
226,201,Henderson,7,Crystal Palace,1,3.0,3.8,11.6,45.0,1,4,1,9,1,16,1,Bracket 1
208,185,Sánchez,6,Chelsea,1,5.3,7.2,11.4,47.0,1,2,15,10,2,30,2,Bracket 2
448,383,Onana,14,Man Utd,1,5.5,6.5,5.9,50.0,1,1,13,9,3,27,2,Bracket 2
592,508,Vicario,18,Spurs,1,3.3,3.0,3.6,50.0,6,1,2,3,6,18,2,Bracket 2
11,15,Raya,1,Arsenal,1,5.7,4.7,30.9,56.0,10,2,9,4,1,26,2,Bracket 3
372,310,A.Becker,12,Liverpool,1,5.0,3.0,9.5,55.0,6,8,2,0,2,18,2,Bracket 3
409,347,Ederson M.,13,Man City,1,3.5,3.0,8.4,55.0,2,2,7,0,2,13,1,Bracket 3

In [7]:
# Defender

def_df = sorted_points_df[sorted_points_df['Position'] == 2]

price_brackets = [0, 42, 47, 52, 75]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4']

def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
def_df = def_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = def_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/1107414829.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/1107414829.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = def_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW2 Points,GW3 Points,GW4 Points,GW5 Points,GW6 Points,Total Points,Number Returns,price_bracket
540,461,Harwood-Bellis,17,Southampton,2,2.2,3.3,9.8,40.0,2,0,1,2,7,12,1,Bracket 1
348,291,Faes,11,Leicester,2,2.0,1.0,13.3,41.0,7,1,1,2,0,11,1,Bracket 1
316,270,Greaves,10,Ipswich,2,1.8,2.7,5.6,40.0,0,2,6,2,0,10,1,Bracket 1
296,255,Robinson,9,Fulham,2,4.0,3.7,15.7,47.0,7,4,2,2,7,22,2,Bracket 2
590,506,Van de Ven,18,Spurs,2,4.8,3.2,7.9,45.0,9,0,1,1,11,22,2,Bracket 2
493,422,Aina,16,Nott'm Forest,2,3.7,3.3,6.1,45.0,9,2,8,0,2,21,2,Bracket 2
387,326,Konaté,12,Liverpool,2,5.2,5.8,9.5,52.0,7,6,2,8,7,30,4,Bracket 3
583,498,Romero,18,Spurs,2,4.5,2.8,9.9,51.0,14,1,2,2,6,25,2,Bracket 3
454,593,De Ligt,14,Man Utd,2,4.0,5.5,4.9,50.0,1,0,15,6,1,23,2,Bracket 3
2,3,Gabriel,1,Arsenal,2,6.2,7.7,24.7,62.0,6,2,15,7,1,31,3,Bracket 4
373,311,Alexander-Arnold,12,Liverpool,2,5.5,4.8,32.1,71.0,6,6,1,11,1,25,3,Bracket 4
399,339,Virgil,12,Liverpool,2,4.7,3.8,14.8,60.0,7,5,2,6,2,22,3,Bracket 4

In [8]:
# Midfielder

mid_df = sorted_points_df[sorted_points_df['Position'] == 3]

price_brackets = [0, 47, 57, 67, 77, 97, 130]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5', 'Bracket 6']

mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
mid_df = mid_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/1630460180.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/1630460180.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW2 Points,GW3 Points,GW4 Points,GW5 Points,GW6 Points,Total Points,Number Returns,price_bracket
560,608,Dibling,17,Southampton,3,2.8,4.7,2.7,46.0,1,1,2,11,1,16,1,Bracket 1
366,309,Winks,11,Leicester,3,1.8,2.0,14.0,45.0,2,1,2,2,2,9,0,Bracket 1
258,226,Iroegbunam,8,Everton,3,1.4,0.7,1.3,45.0,2,1,1,1,0,5,0,Bracket 1
262,230,McNeil,8,Everton,3,6.5,9.7,4.8,55.0,2,6,12,2,15,37,3,Bracket 2
87,78,Semenyo,3,Bournemouth,3,4.8,3.3,10.3,57.0,5,6,1,2,7,21,3,Bracket 2
280,239,Adama,9,Fulham,3,4.3,3.0,3.9,51.0,5,9,2,4,3,23,2,Bracket 2
461,392,Barnes,15,Newcastle,3,5.8,7.2,4.0,65.0,5,9,8,10,2,34,4,Bracket 3
278,19,Smith Rowe,9,Fulham,3,5.5,6.0,29.8,58.0,10,2,7,8,3,30,3,Bracket 3
200,177,Madueke,6,Chelsea,3,6.6,3.2,9.9,66.0,20,2,3,3,5,33,2,Bracket 3
112,99,Mbeumo,4,Brentford,3,7.2,6.3,22.3,74.0,1,14,2,8,9,34,3,Bracket 4
602,514,Bowen,19,West Ham,3,4.0,3.0,5.5,74.0,8,5,5,2,2,22,3,Bracket 4
8,9,Martinelli,1,Arsenal,3,4.7,7.0,3.3,69.0,3,1,3,5,13,25,2,Bracket 4
388,327,Luis Díaz,12,Liverpool,3,8.8,9.0,36.6,80.0,14,15,3,16,2,50,3,Bracket 5
407,345,De Bruyne,13,Man City,3,4.5,0.7,5.2,95.0,12,1,2,0,0,15,1,Bracket 5
431,366,B.Fernandes,14,Man Utd,3,2.2,2.0,8.0,82.0,2,2,5,3,-2,10,1,Bracket 5
205,182,Palmer,6,Chelsea,3,10.2,10.5,44.4,107.0,17,6,3,8,25,59,4,Bracket 6
389,328,M.Salah,12,Liverpool,3,9.8,8.8,42.0,128.0,10,17,2,6,10,45,4,Bracket 6
13,17,Saka,1,Arsenal,3,6.3,4.7,33.2,101.0,6,6,7,4,3,26,3,Bracket 6

In [9]:
# Forward

fwd_df = sorted_points_df[sorted_points_df['Position'] == 4]

price_brackets = [0, 47, 57, 67, 77, 160]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5']

fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
fwd_df = fwd_df.sort_values(['price_bracket', 'Number Returns'], ascending=[False, False])
df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/3479961003.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_34573/3479961003.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW2 Points,GW3 Points,GW4 Points,GW5 Points,GW6 Points,Total Points,Number Returns,price_bracket
413,351,Haaland,13,Man City,4,10.8,8.0,73.1,153.0,17,17,13,9,2,58,4,Bracket 5
203,180,N.Jackson,6,Chelsea,4,6.7,7.0,17.0,79.0,10,6,1,16,5,38,4,Bracket 5
62,58,Watkins,2,Aston Villa,4,6.5,10.0,29.0,91.0,2,5,13,6,11,37,4,Bracket 5
562,82,Solanke,18,Spurs,4,4.0,3.5,9.6,76.0,0,0,2,6,6,14,2,Bracket 4
231,207,Mateta,7,Crystal Palace,4,3.5,4.5,4.1,74.0,2,2,13,1,2,20,1,Bracket 4
377,316,Darwin,12,Liverpool,4,2.2,2.0,2.3,72.0,1,1,1,6,0,9,1,Bracket 4
42,38,Duran,2,Aston Villa,4,4.3,4.0,6.1,62.0,1,7,6,5,1,20,3,Bracket 3
252,220,Calvert-Lewin,8,Everton,4,4.2,3.0,6.1,60.0,2,12,6,2,1,23,2,Bracket 3
517,447,Wood,16,Nott'm Forest,4,5.2,4.0,11.1,62.0,1,9,2,8,2,22,2,Bracket 3
293,252,Raúl,9,Fulham,4,4.5,8.0,4.0,55.0,1,1,9,6,9,26,3,Bracket 2
314,268,Delap,10,Ipswich,4,4.2,4.7,2.3,55.0,2,7,1,1,12,23,2,Bracket 2
147,129,João Pedro,5,Brighton,4,4.8,0.3,15.9,55.0,8,8,0,1,0,17,2,Bracket 2
552,473,Stewart,17,Southampton,4,0.7,0.7,3.6,46.0,0,0,1,0,1,2,0,Bracket 1
79,69,Jebbison,3,Bournemouth,4,1.0,0.0,2.2,45.0,1,0,0,0,0,1,0,Bracket 1
585,500,Scarlett,18,Spurs,4,0.0,0.0,0.1,45.0,0,0,0,0,0,0,0,Bracket 1