In [3]:
from fetcher import get_player_info
from player_performance import get_player_points_per_gameweek, create_points_dataframe_with_gameweeks
import pandas as pd

In [4]:
x_gameweeks = 5  # Number of recent gameweeks to consider
current_gameweek = 5  # Replace with the current gameweek number

# Define the range of gameweeks
gameweeks = list(range(current_gameweek - x_gameweeks + 1, current_gameweek + 1))

# Get player information
players = get_player_info()

# Get player points for each gameweek
player_points_per_gw = {}
for gw in gameweeks:
    player_points_per_gw[gw] = get_player_points_per_gameweek(gw)

# Create and sort the DataFrame by total points across the gameweeks
sorted_points_df = create_points_dataframe_with_gameweeks(player_points_per_gw, players, gameweeks, min_to_return=5)

# Display the sorted DataFrame
sorted_points_df

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,GW5 Points,Total Points,Number Returns
411,351,Haaland,13,Man City,4,12.6,13.0,71.8,153.0,7,17,17,13,9,63,5
386,327,Luis Díaz,12,Liverpool,3,10.2,11.3,31.5,79.0,3,14,15,3,16,51,3
387,328,M.Salah,12,Liverpool,3,9.8,8.3,45.2,128.0,14,10,17,2,6,49,4
2,3,Gabriel,1,Arsenal,2,7.2,8.0,19.5,61.0,6,6,2,15,7,36,4
203,182,Palmer,6,Chelsea,3,7.2,5.7,39.6,106.0,2,17,6,3,8,36,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,202,Holding,7,Crystal Palace,2,0.0,0.0,0.1,44.0,0,0,0,0,0,0,0
221,197,Ebiowei,7,Crystal Palace,3,0.0,0.0,0.0,45.0,0,0,0,0,0,0,0
495,426,Bowler,16,Nott'm Forest,3,0.0,0.0,0.0,45.0,0,0,0,0,0,0,0
496,427,C.Miguel,16,Nott'm Forest,1,0.0,0.0,0.2,43.0,0,0,0,0,0,0,0
0,1,Fábio Vieira,1,Arsenal,3,0.0,0.0,0.0,54.0,0,0,0,0,0,0,0

In [5]:
# Batch Player from Price and Position
# Goalkeeper

gk_df = sorted_points_df[sorted_points_df['Position'] == 1]

price_brackets = [0, 45, 50, 60]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3']

gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
gk_df = gk_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/256794205.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/256794205.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,GW5 Points,Total Points,Number Returns,price_bracket
512,443,Sels,16,Nott'm Forest,1,4.2,4.0,2.5,45.0,3,6,2,9,1,21,2,Bracket 1
224,201,Henderson,7,Crystal Palace,1,3.4,4.7,12.3,45.0,2,1,4,1,9,17,1,Bracket 1
330,568,Muric,10,Ipswich,1,4.0,5.3,0.8,44.0,0,0,3,11,2,16,1,Bracket 1
446,383,Onana,14,Man Utd,1,6.0,7.7,5.7,50.0,6,1,1,13,9,30,3,Bracket 2
206,185,Sánchez,6,Chelsea,1,6.0,9.0,8.9,47.0,2,1,2,15,10,30,2,Bracket 2
479,413,Pope,15,Newcastle,1,4.4,3.3,8.3,50.0,9,3,4,3,3,22,1,Bracket 2
11,15,Raya,1,Arsenal,1,6.6,5.0,31.9,56.0,8,10,2,9,4,33,3,Bracket 3
370,310,A.Becker,12,Liverpool,1,5.8,3.3,10.4,55.0,7,6,8,2,0,23,3,Bracket 3
407,347,Ederson M.,13,Man City,1,3.8,3.0,8.0,55.0,8,2,2,7,0,19,2,Bracket 3

In [6]:
# Defender

def_df = sorted_points_df[sorted_points_df['Position'] == 2]

price_brackets = [0, 42, 47, 52, 75]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4']

def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
def_df = def_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = def_df.groupby('price_bracket').head(4)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/186755390.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/186755390.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = def_df.groupby('price_bracket').head(4)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,GW5 Points,Total Points,Number Returns,price_bracket
346,291,Faes,11,Leicester,2,2.4,1.3,13.4,41.0,1,7,1,1,2,12,1,Bracket 1
326,282,Tuanzebe,10,Ipswich,2,2.2,3.3,2.9,40.0,1,0,2,6,2,11,1,Bracket 1
314,270,Greaves,10,Ipswich,2,2.2,3.3,3.8,40.0,1,0,2,6,2,11,1,Bracket 1
258,228,Keane,8,Everton,2,1.8,2.7,5.9,40.0,1,0,6,1,1,9,1,Bracket 1
453,594,Mazraoui,14,Man Utd,2,5.0,4.3,16.1,46.0,8,4,1,6,6,25,3,Bracket 2
443,380,Martinez,14,Man Utd,2,3.8,3.7,5.1,45.0,7,1,0,6,5,19,3,Bracket 2
491,422,Aina,16,Nott'm Forest,2,4.0,3.3,5.6,45.0,1,9,2,8,0,20,2,Bracket 2
162,145,Veltman,5,Brighton,2,4.0,3.3,3.7,45.0,8,2,2,7,1,20,2,Bracket 2
432,369,Dalot,14,Man Utd,2,5.8,7.0,9.4,50.0,7,1,1,11,9,29,3,Bracket 3
385,326,Konaté,12,Liverpool,2,4.8,5.3,7.5,51.0,1,7,6,2,8,24,3,Bracket 3
452,593,De Ligt,14,Man Utd,2,4.6,7.0,4.7,50.0,1,1,0,15,6,23,2,Bracket 3
184,163,Cucurella,6,Chelsea,2,2.8,4.0,6.1,50.0,2,0,2,5,5,14,2,Bracket 3
2,3,Gabriel,1,Arsenal,2,7.2,8.0,19.5,61.0,6,6,2,15,7,36,4,Bracket 4
371,311,Alexander-Arnold,12,Liverpool,2,6.4,6.0,32.3,71.0,8,6,6,1,11,32,4,Bracket 4
397,339,Virgil,12,Liverpool,2,5.2,4.3,15.0,60.0,6,7,5,2,6,26,4,Bracket 4
394,335,Robertson,12,Liverpool,2,5.0,4.3,7.6,60.0,6,6,6,1,6,25,4,Bracket 4

In [7]:
# Midfielder

mid_df = sorted_points_df[sorted_points_df['Position'] == 3]

price_brackets = [0, 47, 57, 67, 77, 97, 130]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5', 'Bracket 6']

mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
mid_df = mid_df.sort_values(['price_bracket', 'Number Returns'], ascending=[True, False])
df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/1630460180.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/1630460180.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,GW5 Points,Total Points,Number Returns,price_bracket
558,608,Dibling,17,Southampton,3,3.2,4.7,1.5,45.0,1,1,1,2,11,16,1,Bracket 1
364,309,Winks,11,Leicester,3,1.8,1.7,14.6,45.0,2,2,1,2,2,9,0,Bracket 1
256,226,Iroegbunam,8,Everton,3,1.4,1.0,1.4,45.0,2,2,1,1,1,7,0,Bracket 1
86,78,Semenyo,3,Bournemouth,3,4.4,3.0,7.8,56.0,8,5,6,1,2,22,3,Bracket 2
260,230,McNeil,8,Everton,3,4.8,6.7,2.8,54.0,2,2,6,12,2,24,2,Bracket 2
62,233,Onana,2,Aston Villa,3,4.6,4.0,11.9,52.0,10,1,9,1,2,23,2,Bracket 2
459,392,Barnes,15,Newcastle,3,6.6,9.0,3.2,65.0,1,5,9,8,10,33,4,Bracket 3
276,19,Smith Rowe,9,Fulham,3,6.0,5.7,29.7,58.0,3,10,2,7,8,30,3,Bracket 3
153,136,Mitoma,5,Brighton,3,4.8,3.3,9.5,67.0,8,6,2,3,5,24,3,Bracket 3
111,99,Mbeumo,4,Brentford,3,6.8,8.0,15.4,72.0,9,1,14,2,8,34,3,Bracket 4
577,494,Maddison,18,Spurs,3,5.2,5.0,4.5,75.0,5,6,1,2,12,26,3,Bracket 4
600,514,Bowen,19,West Ham,3,4.4,4.0,6.0,75.0,2,8,5,5,2,22,3,Bracket 4
386,327,Luis Díaz,12,Liverpool,3,10.2,11.3,31.5,79.0,3,14,15,3,16,51,3,Bracket 5
405,345,De Bruyne,13,Man City,3,4.5,1.0,7.6,95.0,3,12,1,2,0,18,1,Bracket 5
429,366,B.Fernandes,14,Man Utd,3,3.0,3.3,10.2,83.0,3,2,2,5,3,15,1,Bracket 5
387,328,M.Salah,12,Liverpool,3,9.8,8.3,45.2,128.0,14,10,17,2,6,49,4,Bracket 6
13,17,Saka,1,Arsenal,3,7.0,5.7,31.1,100.0,12,6,6,7,4,35,4,Bracket 6
203,182,Palmer,6,Chelsea,3,7.2,5.7,39.6,106.0,2,17,6,3,8,36,3,Bracket 6

In [8]:
# Forward

fwd_df = sorted_points_df[sorted_points_df['Position'] == 4]

price_brackets = [0, 47, 57, 67, 77, 160]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5']

fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
fwd_df = fwd_df.sort_values(['price_bracket', 'Number Returns'], ascending=[False, False])
df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/3479961003.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
/var/folders/g2/7dxps7694kb0wbjy_58dzs140000gn/T/ipykernel_40055/3479961003.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,GW3 Points,GW4 Points,GW5 Points,Total Points,Number Returns,price_bracket
411,351,Haaland,13,Man City,4,12.6,13.0,71.8,153.0,7,17,17,13,9,63,5,Bracket 5
61,58,Watkins,2,Aston Villa,4,5.6,8.0,28.7,90.0,2,2,5,13,6,28,3,Bracket 5
3,4,Havertz,1,Arsenal,4,5.2,4.0,17.1,81.0,12,2,8,2,2,26,2,Bracket 5
201,180,N.Jackson,6,Chelsea,4,7.0,7.7,12.1,77.0,2,10,6,1,16,35,3,Bracket 4
229,207,Mateta,7,Crystal Palace,4,3.8,5.3,4.5,74.0,1,2,2,13,1,19,1,Bracket 4
450,389,Zirkzee,14,Man Utd,4,2.8,1.7,3.2,69.0,8,1,1,2,2,14,1,Bracket 4
41,38,Duran,2,Aston Villa,4,5.0,6.0,5.3,61.0,6,1,7,6,5,25,4,Bracket 3
165,148,Welbeck,5,Brighton,4,6.2,3.3,19.1,58.0,12,9,2,2,6,31,3,Bracket 3
515,447,Wood,16,Nott'm Forest,4,5.8,6.3,8.8,61.0,9,1,9,2,8,29,3,Bracket 3
361,306,Vardy,11,Leicester,4,4.2,3.7,11.1,57.0,8,2,1,8,2,21,2,Bracket 2
146,129,João Pedro,5,Brighton,4,4.8,3.0,25.9,56.0,2,8,8,0,1,19,2,Bracket 2
291,252,Raúl,9,Fulham,4,3.6,5.3,1.7,54.0,1,1,1,9,6,18,2,Bracket 2
78,69,Jebbison,3,Bournemouth,4,1.0,0.0,2.5,45.0,1,1,0,0,0,2,0,Bracket 1
550,473,Stewart,17,Southampton,4,0.5,0.3,2.9,45.0,0,0,0,1,0,1,0,Bracket 1
583,500,Scarlett,18,Spurs,4,0.0,0.0,0.1,45.0,0,0,0,0,0,0,0,Bracket 1