In [1]:
from fetcher import get_player_info
from player_performance import get_player_points_per_gameweek, create_points_dataframe_with_gameweeks
import pandas as pd

In [2]:
x_gameweeks = 2  # Number of recent gameweeks to consider
current_gameweek = 2  # Replace with the current gameweek number

# Define the range of gameweeks
gameweeks = list(range(current_gameweek - x_gameweeks + 1, current_gameweek + 1))

# Get player information
players = get_player_info()

# Get player points for each gameweek
player_points_per_gw = {}
for gw in gameweeks:
    player_points_per_gw[gw] = get_player_points_per_gameweek(gw)

# Create and sort the DataFrame by total points across the gameweeks
sorted_points_df = create_points_dataframe_with_gameweeks(player_points_per_gw, players, gameweeks, min_to_return=7)

# Display the sorted DataFrame
sorted_points_df

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,Total Points,Number Returns
385,351,Haaland,13,Man City,4,12.0,12.0,57.2,151.0,7,17,24,2
363,328,M.Salah,12,Liverpool,3,12.0,12.0,36.8,125.0,14,10,24,2
154,148,Welbeck,5,Brighton,4,10.5,10.5,7.1,56.0,12,9,21,2
188,177,Madueke,6,Chelsea,3,20.0,10.0,2.9,64.0,0,20,20,1
193,182,Palmer,6,Chelsea,3,9.5,9.5,35.3,105.0,2,17,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,153,B.Badiashile,6,Chelsea,2,0.0,0.0,0.1,45.0,0,0,0,0
0,1,Fábio Vieira,1,Arsenal,3,0.0,0.0,0.0,54.0,0,0,0,0
618,558,Mosquera,20,Wolves,2,-0.5,-0.5,0.9,40.0,1,-2,-1,0
250,238,Young,8,Everton,2,-2.0,-1.0,0.1,45.0,-2,0,-2,0
455,415,Schär,15,Newcastle,2,-2.0,-1.0,1.2,54.0,-2,0,-2,0

In [3]:
# Batch Player from Price and Position
# Goalkeeper

gk_df = sorted_points_df[sorted_points_df['Position'] == 1]

price_brackets = [0, 45, 50, 60]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3']

gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
gk_df = gk_df.sort_values(['price_bracket', 'Form'], ascending=[True, False])
df_top_3_per_bracket = gk_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

<ipython-input-3-b006b615a19a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gk_df['price_bracket'] = pd.cut(gk_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,Total Points,Number Returns,price_bracket
486,443,Sels,16,Nott'm Forest,1,4.5,4.5,1.4,45.0,3,6,9,0,Bracket 1
148,142,Steele,5,Brighton,1,4.5,4.5,1.9,45.0,7,2,9,1,Bracket 1
95,91,Flekken,4,Brentford,1,3.5,3.5,10.6,45.0,4,3,7,0,Bracket 1
453,413,Pope,15,Newcastle,1,6.0,6.0,8.9,50.0,9,3,12,1,Bracket 2
560,508,Vicario,18,Spurs,1,4.0,4.0,4.1,50.0,2,6,8,0,Bracket 2
420,383,Onana,14,Man Utd,1,3.5,3.5,6.1,50.0,6,1,7,0,Bracket 2
14,15,Raya,1,Arsenal,1,9.0,9.0,26.2,55.0,8,10,18,2,Bracket 3
346,310,A.Becker,12,Liverpool,1,6.5,6.5,10.8,55.0,7,6,13,1,Bracket 3
381,347,Ederson M.,13,Man City,1,5.0,5.0,8.5,55.0,8,2,10,1,Bracket 3

In [4]:
# Defender

def_df = sorted_points_df[sorted_points_df['Position'] == 2]

price_brackets = [0, 40, 47, 52, 75]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4']

def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
def_df = def_df.sort_values(['price_bracket', 'Form'], ascending=[True, False])
df_top_3_per_bracket = def_df.groupby('price_bracket').head(4)
df_top_3_per_bracket

<ipython-input-4-b2cdba1b325d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_df['price_bracket'] = pd.cut(def_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,Total Points,Number Returns,price_bracket
323,291,Faes,11,Leicester,2,4.0,4.0,9.0,40.0,1,7,8,1,Bracket 1
300,275,Johnson,10,Ipswich,2,1.5,1.5,3.7,40.0,0,3,3,0,Bracket 1
503,455,Bednarek,17,Southampton,2,1.5,1.5,2.3,40.0,2,1,3,0,Bracket 1
509,461,Harwood-Bellis,17,Southampton,2,1.5,1.5,11.0,40.0,1,2,3,0,Bracket 1
579,524,Kilman,19,West Ham,2,6.5,6.5,1.4,45.0,1,12,13,1,Bracket 2
428,594,Mazraoui,14,Man Utd,2,6.0,6.0,10.4,45.0,8,4,12,1,Bracket 2
558,506,Van de Ven,18,Spurs,2,5.5,5.5,7.1,45.0,2,9,11,1,Bracket 2
151,145,Veltman,5,Brighton,2,5.0,5.0,2.4,45.0,8,2,10,1,Bracket 2
551,498,Romero,18,Spurs,2,8.0,8.0,6.6,50.0,2,14,16,1,Bracket 3
557,505,Udogie,18,Spurs,2,4.0,4.0,3.8,50.0,2,6,8,0,Bracket 3
406,369,Dalot,14,Man Utd,2,4.0,4.0,8.9,50.0,7,1,8,1,Bracket 3
361,326,Konaté,12,Liverpool,2,4.0,4.0,2.0,50.0,1,7,8,1,Bracket 3
548,495,Pedro Porro,18,Spurs,2,7.5,7.5,35.3,55.0,9,6,15,1,Bracket 4
347,311,Alexander-Arnold,12,Liverpool,2,7.0,7.0,30.7,70.0,8,6,14,1,Bracket 4
373,339,Virgil,12,Liverpool,2,6.5,6.5,12.9,60.0,6,7,13,1,Bracket 4
370,335,Robertson,12,Liverpool,2,6.0,6.0,4.9,60.0,6,6,12,0,Bracket 4

In [5]:
# Midfielder

mid_df = sorted_points_df[sorted_points_df['Position'] == 3]

price_brackets = [0, 47, 57, 67, 77, 97, 130]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5', 'Bracket 6']

mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
mid_df = mid_df.sort_values(['price_bracket', 'Form'], ascending=[True, False])
df_top_3_per_bracket = mid_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

<ipython-input-5-51cb83177085>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mid_df['price_bracket'] = pd.cut(mid_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,Total Points,Number Returns,price_bracket
341,309,Winks,11,Leicester,3,2.0,2.0,14.1,45.0,2,2,4,0,Bracket 1
239,226,Iroegbunam,8,Everton,3,2.0,2.0,0.5,45.0,2,2,4,0,Bracket 1
302,277,Luongo,10,Ipswich,3,2.0,2.0,0.5,45.0,2,2,4,0,Bracket 1
18,20,Thomas,1,Arsenal,3,7.0,7.0,0.6,50.0,3,11,14,1,Bracket 2
585,530,Souček,19,West Ham,3,6.5,6.5,2.9,50.0,5,8,13,1,Bracket 2
257,19,Smith Rowe,9,Fulham,3,6.5,6.5,19.4,55.0,3,10,13,1,Bracket 2
188,177,Madueke,6,Chelsea,3,20.0,10.0,2.9,64.0,0,20,20,1,Bracket 3
142,136,Mitoma,5,Brighton,3,7.0,7.0,5.9,66.0,8,6,14,1,Bracket 3
443,403,Joelinton,15,Newcastle,3,6.0,6.0,3.1,60.0,11,1,12,1,Bracket 3
362,327,Luis Díaz,12,Liverpool,3,8.5,8.5,8.0,75.0,3,14,17,1,Bracket 4
352,317,Diogo J.,12,Liverpool,3,7.0,7.0,19.8,76.0,8,6,14,1,Bracket 4
438,398,Gordon,15,Newcastle,3,6.5,6.5,22.4,75.0,3,10,13,1,Bracket 4
379,345,De Bruyne,13,Man City,3,7.5,7.5,10.4,95.0,3,12,15,1,Bracket 5
12,13,Ødegaard,1,Arsenal,3,2.5,2.5,13.8,85.0,3,2,5,0,Bracket 5
403,366,B.Fernandes,14,Man Utd,3,2.5,2.5,17.0,85.0,3,2,5,0,Bracket 5
363,328,M.Salah,12,Liverpool,3,12.0,12.0,36.8,125.0,14,10,24,2,Bracket 6
193,182,Palmer,6,Chelsea,3,9.5,9.5,35.3,105.0,2,17,19,1,Bracket 6
16,17,Saka,1,Arsenal,3,9.0,9.0,34.2,100.0,12,6,18,1,Bracket 6

In [6]:
# Forward

fwd_df = sorted_points_df[sorted_points_df['Position'] == 4]

price_brackets = [0, 47, 57, 67, 77, 160]
bracket_labels = ['Bracket 1', 'Bracket 2', 'Bracket 3', 'Bracket 4', 'Bracket 5']

fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)
fwd_df = fwd_df.sort_values(['price_bracket', 'Form'], ascending=[True, False])
df_top_3_per_bracket = fwd_df.groupby('price_bracket').head(3)
df_top_3_per_bracket

<ipython-input-6-6357ca091b92>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fwd_df['price_bracket'] = pd.cut(fwd_df['Now Cost'], bins=price_brackets, labels=bracket_labels, include_lowest=True)

,Player ID,Player Name,Team ID,Team Name,Position,Points Per Game,Form,Selected By Percent,Now Cost,GW1 Points,GW2 Points,Total Points,Number Returns,price_bracket
70,69,Jebbison,3,Bournemouth,4,1.0,1.0,2.9,45.0,1,1,2,0,Bracket 1
521,473,Stewart,17,Southampton,4,0.0,0.0,0.6,45.0,0,0,0,0,Bracket 1
489,446,Ui-jo,16,Nott'm Forest,4,0.0,0.0,1.8,45.0,0,0,0,0,Bracket 1
154,148,Welbeck,5,Brighton,4,10.5,10.5,7.1,56.0,12,9,21,2,Bracket 2
135,129,João Pedro,5,Brighton,4,5.0,5.0,18.8,55.0,2,8,10,1,Bracket 2
338,306,Vardy,11,Leicester,4,5.0,5.0,6.2,56.0,8,2,10,1,Bracket 2
114,110,Wissa,4,Brentford,4,6.5,6.5,5.1,60.0,11,2,13,1,Bracket 3
490,447,Wood,16,Nott'm Forest,4,5.0,5.0,8.1,61.0,9,1,10,1,Bracket 3
601,541,Cunha,20,Wolves,4,3.5,3.5,2.1,65.0,1,6,7,0,Bracket 3
191,180,N.Jackson,6,Chelsea,4,6.0,6.0,3.1,75.0,2,10,12,1,Bracket 4
425,389,Zirkzee,14,Man Utd,4,4.5,4.5,4.6,71.0,8,1,9,1,Bracket 4
219,207,Mateta,7,Crystal Palace,4,1.5,1.5,5.7,75.0,1,2,3,0,Bracket 4
385,351,Haaland,13,Man City,4,12.0,12.0,57.2,151.0,7,17,24,2,Bracket 5
3,4,Havertz,1,Arsenal,4,7.0,7.0,17.1,81.0,12,2,14,1,Bracket 5
441,401,Isak,15,Newcastle,4,3.5,3.5,55.3,85.0,5,2,7,0,Bracket 5